@using web_application_eAutoStore.DOMAIN.DTOs.Vehicles;

@model VehicleDto

<link rel="stylesheet" href="~/css/card-styles.css" type="text/css" asp-append-version="true" />

<div class="card" data-id="@Model.Id">
	@if (Model.ImagePath != null)
	{
		<img src="~/adsImages/@Model.ImagePath" alt="Image" />
	}
	else
	{
		<img src="~/images/defaultcar.jpg" alt="Image" />
	}
	<div class="card-price">
		<div><span>@Model.Price</span><span>$</span></div>
	</div>
	<div class="card-descr">
		<span>
			@Model.Brand @Model.Model, @Model.Mileage kilometers
			@if (Model.Type != null)
			{
				@: ,@Model.Type
			}
			@if (Model.Quality != null)
			{
				@: ,@Model.Quality
			}
			@if (Model.Transmission != null)
			{
				@: ,@Model.Transmission
			}
			@if (Model.Year != null)
			{
				@: ,@Model.Year production year
			}
			@if (Model.EngineCapacity != null)
			{
				@: ,@Model.EngineCapacity liters
			}
			@if (Model.EnginePower != null)
			{
				@: ,@Model.EnginePower  horsepower
			}
			.
		</span>
	</div>
	<div class="card-buttons">
		<button class="card-btn more-vehicle-btn">More</button>
		<button class="card-btn">Save</button>
	</div>
</div>