@using web_application_eAutoStore.DOMAIN.DTOs.Vehicles;

@model VehicleDto

<link rel="stylesheet" href="~/css/card-styles.css" type="text/css" asp-append-version="true" />

<div class="card" data-id="@Model.Id">
	@if (Model.ImagePath != null)
	{
		<img src="~/adsImages/@Model.ImagePath" alt="Image" />
	}
	else
	{
		<img src="~/images/defaultcar.jpg" alt="Image" />
	}
	<div class="card-price">
		<div><span>@Model.Price</span><span>$</span></div>
	</div>
	<div class="card-descr">
		@Model.Brand @Model.Model, @Model.Mileage kms
		@if (Model.Type != null)
		{
			@: ,@Model.Type.ToString().ToLower() type
		}
		@if (Model.Quality != null)
		{
			@: ,@Model.Quality.ToString().ToLower()
		}
		@if (Model.Transmission != null)
		{
			@: ,@Model.Transmission.ToString().ToLower()
		}
		@if (Model.Year != null)
		{
			@: ,@Model.Year production year
		}
		@if (Model.EngineCapacity != null)
		{
			@: ,@Model.EngineCapacity liters
		}
		@if (Model.EnginePower != null)
		{
			@: ,@Model.EnginePower  horsepower
		}
		.
	</div>
	<div class="card-buttons">
		<button class="card-btn more-vehicle-btn">More</button>
		@if (User.Identity.IsAuthenticated)
		{
			<button class="card-btn save-vehicle-btn" onclick="SaveCard(this)">Save</button>
		}
		<button class="card-btn del-vehicle-btn" onclick="DeleteCard(this)">Delete</button>
	</div>
</div>

@* script connection *@
<script src="~/js/card.js" defer></script>